version: '3.8'

services:
 
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080" 
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__BankDatabase=Server=tcp:sqlserver,1433;Database=BankDb;User=sa;Password=minhaSenhaForte*;TrustServerCertificate=True;
    depends_on:
      - sqlserver 

 
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest 
    environment:
      
      - ACCEPT_EULA=Y
      - SA_PASSWORD=minhaSenhaForte* 
    ports:
      - "1432:1433" 
    volumes:
      
      - sqlserver_data:/var/opt/mssql

volumes:
  sqlserver_data: